@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
    font-size: 20px;
}

body {
    
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif; color: #001838;
    font-size: 20px;
    
    

}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    width: 100%;
    align-items: center;
    background-color:#c5d7f0;
    padding: 20px;   
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;  
    
}

.logo {
    padding: 2rem;
}

header nav ul li:hover {
    text-decoration:underline
}
@media screen and (min-width: 700px) {
    header {
        justify-content: space-between;
    }
}



@media screen and (max-width: 700px) {
    .box1,
    .box2,
    .box3 {
        width: 100%;
        height: auto;
       
    }
}

header ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 25px;

}

.headline {
    font-family:'Anton', sans-serif; 
    font-size: 4rem;
    color: #054a9d;
    text-shadow: 0px 20px 1px rgba(95, 99, 213, 0.6);
}

main {
    width: 100%;
    padding: 150px 0 0 0;
    color: #ffffff;
}

.box1 {
    background-color: #8bbfff ;
    width: 100%;
    max-width: 1200px;
    border-radius: 9px;
    display: flex;
    margin: 4rem auto;
}

.box1-imgContainer {
    width: 50%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.box1-text {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    justify-self: center;
    gap: 1rem;
    padding: 4rem;
    
}

.skjermbilde1 {
    border-radius: 43px;
    width: 260px;
    height: 492px;
    margin: 1rem auto 1rem auto;
    width: auto;
}


.Knapp {
    
    background-color: #001838;
    color: #ffffff;
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 24px;
    max-width: 12rem;
    
  }
  
  .Knapp:hover {
    background-color: #D9E1EB;
    color: #001838;
  }


.box1 .title {
    text-align: left;
    color: #001838;
    font-size: 4rem;
}

.box1 .description {
    color: #000000;
}


.box2 {
    background-color: #8bbfff ;
    border-radius: 9px;
    max-width: 1200px;
    display: flex;
    margin: 4rem auto;
     
}
.box2-text{
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    justify-self: center;
    width: 50%;
    gap: 1rem;
    padding: 4rem; 
}

.box2-imgContainer {
    width: 50%;
    align-self: center;
    justify-self: center;
    text-align: center;
}


.box2 .title {
    color: #000000;
   text-align: left;
   font-size: 2rem;
}

.box2 .description {
    color: #001838;
    
}

.skjermbilde2 {
    
    width: 180px;
    height: 350px;
    margin: 1rem auto 1rem auto;
    width: auto;
    border-radius: 20px;
}
.skjermbilde3 {
    
    width: 260px;
    height: 492px;
    margin: 1rem auto 1rem auto;
    width: auto;
    border-radius: 20px;
}
.Knapp2 {
    background-color: #001838;
        color: #ffffff;
        border: none;
        padding: 20px 50px;
        border-radius: 5px;
        font-size: 24px;
        max-width: 12rem;

}

.Knapp2:hover {
    background-color: #D9E1EB;
    color: #001838;
  }

 

.box3 {
    background-color: #8bbfff;
    border-radius: 9px;
    margin: 4rem auto;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
}

.box3-imgContainer {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.vertical-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box2-imgContainer2 {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.box2-imgContainer3 {
    align-self: center;
    justify-self: center;
    text-align: center;
}
.app {
    border-radius: 9px;
    margin: 1rem auto 0 auto;
    width: auto;
}

.box3 .title1 {
    color: #001838;
    list-style: none;
    text-align: center;
}


.skjermbilde4 {
width: 260px;
height: 492px;
border-radius: 17px;
width: auto;
}
.box3 .title2 {
    color: #001838;
    text-align: center; 
}


.skjermbilde5 {
width: 260px;
height: 492px;
border-radius: 17px;
width: auto;
}

.box3 .title3 {
    color: #001838;
    text-align: center; 
}



footer {
    background-color: #c5d7f0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 300px;
}